<section class="mr-container">
	<header>
		<nav class="navbar">
			<div class="navbar-header">
			  	<h1 class="navbar-brand"></h1>
			</div>
			 <ul class="nav navbar-nav">
				<li class="dropdown">
				  <select class="mr-manga"  ng-change="mangaReader.selectAction('manga')" ng-model="mangaReader.fact.data.manga"  ng-options="m for m in mangaReader.fact.data.mangas track by m"></select>
				  <select class="mr-chapter" ng-change="mangaReader.selectAction('chapter')" ng-model="mangaReader.fact.data.chapter"  ng-options="c for c in mangaReader.fact.data.chapters track by c"></select>
				  <select class="mr-pages" ng-change="mangaReader.selectAction('page')" ng-model="mangaReader.fact.data.page"  ng-options="p for p in mangaReader.fact.data.pages track by p"></select>
				</li>
			  </ul>
		</nav>
	</header>
	<main>
		<img ng-src="mangaReader.fact.data.image" />
	</main>
	<footer></footer>				
</section>

